.testimonial-slider{
	color:#000;
}
#third-section{background-color: #fff;}
.#fifth-section{
	background-color:#fff;
}
.blur-content{
color:#fff!important;
}
#fifth-section {
    background-color: #fff;
}
.blur-section{
	color:#000!important;
}
.blur-content{
color:#000!important;
}
.director-name {
    color: #333;
    background-color: #fff;
    padding: 25px 0;
    text-align: center;
}

ul.gallartylist li a{
	color:#333;
}